*{
    font-family: calibri;
}

p{
    color: white;
}

body{
    background-image: url("../images/temp-background.jpg");
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
}

h1{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.flex-container{
    overflow: hidden;
    display: flex;
    background-color: rgb(82, 4, 4);
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    top: 0;
   
    width: 100%;
    right: 2px;
    
}

.flex-container a:hover{
    background-color: white;
    color: rgb(82, 4, 4)
}

.flex-container a{
    transition: background-color 0.4s linear;
    text-transform: uppercase;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size:large;
    padding: 5px 15px;
    
}

.flex-container .icon{
    display: none;
}

.library-element a{
    color: gold;
    font-size: x-large;
}



.logo-element{
    height: 60px;
}

.wrapper{
    display: grid;
    grid-auto-flow: column;
    
    
}

.box-img{
    width: 400px;
    height: 600px;
   
}

.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .flex-container{
        height: 100%;
        width: 140px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        flex-direction: column;
        
    }
}
