*{
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0366d6;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(82, 4, 4);
}

.logo{
    margin: .5rem;
}

.logo-element {
    height: 60px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    

}
.navbar-links li a {
        transition: background-color 0.4s linear;
        text-transform: uppercase;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
        font-size: large;
        padding: 5px 15px;
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
}

.navbar-links li a:hover {
    background-color: white;
    color: rgb(82, 4, 4);
    font-size: 25px;
}

.navbar-links li .library-element{
    color: gold;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media screen and (max-width: 600px) {

   .toggle-button{
       display: flex;
       
   }

   .navbar-links{
       display: none;
       width:100%;
   }

   .flex-container{
       flex-direction: column;
       align-items: flex-start;
   }

   .navbar-links ul{
       width: 100%;
       flex-direction: column;
   }

   .navbar-links li{
       text-align: center;
   }

   .navbar-links li a{
       padding: .5rem 1rem;
   }

   .navbar-links.active{
       display: flex;
   }
    
}