@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/home.css" rel="stylesheet" />
<body>
    <header>
        <div class="top-text">
            <h1>Welcome to DigiLib</h1>
            <h4>Your personal digital library</h4>
        </div>
    </header>
    <main>

        <div class="grid">
            <div class="grid-item">
                <h4>Featured manga</h4>
                <div class="box-img">
                <img src="~/img/31829d6feb2926968688856e3cb92a62.jpg" alt="" />
                </div>
            </div>
            <div class="grid-item">
                <h4>Featured book</h4>
                <div class="box-img">
                    <img src="~/img/y648.jpg" alt="" />
                </div>
            </div>
            <div class="grid-item">
                <h4>Featured comic</h4>
                <div class="box-img">
                    <img src="~/img/main-qimg-1a119c2cb66a3d320897b74fca85cfe4-lq.jpg" alt="" />
                </div>
            </div>
        </div>
    </main>
</body>
