@page
@model LibraryModel
@{
    ViewData["Title"] = "Library";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/library.css" rel="stylesheet" />
    <title>Library</title>
</head>
<body>
    
    <div class="library-content">
        <h1>Explore</h1>
        <button type="button" class="navitem">Manga</button>
        <button type="button" class="navitem">Books</button>
        <button type="button" class="navitem">Comics</button>
    </div>
</body>
</html>
