@page
@model LibraryModel
@{
    ViewData["Title"] = "Library";
    Layout = "LoggedUser";
}
<link href="~/css/library.css" rel="stylesheet" />

<body>
    <div class="library-content">
        <h1>Explore</h1>
        <div class="links">
            <a class="link"asp-page="/MangaLibrary">Manga</a>
        </div>
    </div>
</body>
