@page
@model LibraryModel
@{
    ViewData["Title"] = "Library";
}
<link href="~/css/library.css" rel="stylesheet" />

<body>
    <div class="library-content">
        <h1>Explore</h1>
        <div class="links">
            <a class="link" href="#">Manga</a>
            <a class="link" href="#">Books</a>
            <a class="link" href="#">Comic</a>
        </div>
    </div>
</body>
