@page
@model WAD.Pages.LoginModel
@{
}

<h1>Log In</h1>

<label for="Username" class="username">Username</label><br />
<input class="username-input-field" id="Username" type="text"><br />

<label for="password" class="password">Username</label>
<input class="password-input-field" id="Password" type="text">
<p>Don't have an account yet?? <a asp-page="/Register">Register</a></p>
