@page
@model WAD.Pages.MangaLibraryModel
@{
    Layout = "LoggedUser";
}


<table style="border:solid 2px black; margin-left: 10%; width: 80%; height: 40%;">
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
</table>
