@page
@model WAD.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    
}

<link href="~/css/register-page.css" rel="stylesheet" />
<div class="form-container">
    <form action="">
        <h1>Sign up for DigiLib</h1>
        
            <label for="Email" class="email">Email</label><br />
            <input class="email-input-field" id="Email" type="text"><br />
        
        <label for="Username" class="username">Username</label>
        <input id="Username" type="text">

        <label for="Password">Password</label>
        <input id="Password" type="text">

        <label for="Confirm-password">Confirm Password</label>
        <input id="confirm-password" type="text">

        <button type="submit" class="submit-btn">Register</button>
        <p>Already have an account? <a asp-page="/Index">Log In</a></p>
    </form>
</div>
