<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WAD</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="flex-container" id="navbar">
        <div class="logo">
            <img class="logo-element" src="~/img/books.png" alt="">
        </div>
        <a href="#" class="toggle-button" id="burger-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links" id="links">
            <ul>
                <li><a asp-page="/Index">DigiLib</a></li>
                <li><a class="library-element" asp-page="/Library">Library</a></li>
                <li><a asp-page="/Index">Authors</a></li>
                <li><a asp-page="/Index">Statistics</a></li>
                <li><a asp-page="/Register">Register</a></li>
                <li><a asp-page="/Login">Log in</a></li>
            </ul>
        </div>
    </nav>
    <footer>
        <span>&copy; 2022 - DigiLib</span>
    </footer>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!---<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
